.filter {
    background: var(--color-dark-2) 0% 0% no-repeat padding-box;
    padding: 20px 10px;
    color: var(--color-light-1);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
}

@media screen and (min-width: 481px) {
    .filter {
        padding: 21px 20px;
    }
}

.filter__header {
    display: none;
}

@media screen and (min-width: 900px) {
    .filter__header {
        display: inline;
    }
}

.filter .filter__header--mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 900px) {
    .filter .filter__header--mobile {
        display: none;
    }
}

/* .filter .filter__header--mobile div:first-child {
    display: flex;
    flex-direction: row;
    gap: 5px;
} */

.filter .filter__header--mobile .filterButton {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background: inherit;
    border: none;
    color: var(--color-light-1);
    font-family: Montserrat;
    font-weight: bold;
}

.filter .filter__header--mobile .filterButton svg {
    width: 14px;
}

.filter .filter__header--mobile .favorites-btn {
    color: var(--color-light-1);
    background: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: var(--font-family-1);
    font-weight: bold;
}

@media screen and (min-width: 900px) {
    .filter .filter__header--mobile .favorites-btn {
        display: none;
    }
}

.filter .filter__header--mobile .favorites-btn svg {
    width: 9px;
    height: 14px;
}
