.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    color: #f8f8f2;
    font-size: 18px;
    font-weight: bold;
    padding-top: 38px;
}

.menu.mobile {
    /* display: none; */
}

.menu .menu-item {
    position: relative;
}

.menu .menu-item:last-of-type {
    /* display: flex;
    flex-direction: row;
    gap: 5px; */
}

.menu-item .count {
    opacity: 0.6;
}

.bolt {
    width: 11px;
}