.button {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #222222;
}

.button .bolt {
    color: #F8F8F2;
}

.button .bolt.favorited{
    color: red;
}