.item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item__thumbnail {
    position: relative;
}

.item__remove {
    padding: 0 5px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -10px;
    border: none;
}

.item__remove > svg {
    width: 6px;
    color: #C24868;
}

.item__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Karla;
    font-size: 14px;
}

.item__content-title {
    line-height: 16px;
    font-weight: bold;
}

.item__content-issue {
    line-height: 17px;
    display: flex;
    gap: 5px;
}