.filter {
    background: #222222 0% 0% no-repeat padding-box;
    padding: 21px 20px;
    color: #F8F8F2;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter__dropdown {
    border: 1px solid #8D8D8D;
    border-radius: 3px;
    background: inherit;
    color: #F8F8F2;
    padding: 7px 10px;
    width: 245px;
}

.filter__dropdown:first-of-type {
    margin-left: 10px;
    margin-right: 20px;
}