.main {
    background: #f8f8f2;
}

.section {
    max-width: 670px;
    margin: auto;
    margin-top: 95px;
}

.section__header {
    position: relative;
}

.section__header-badge {
    position: absolute;
    top: -25px;
    left: -30px;
    background: #9ecfc5 0% 0% no-repeat padding-box;
    transform: rotate(-5deg);
    padding: 9px 15px;
    color: #f8f8f2;
    text-shadow: 2px 2px 0px #222222;
}

.section__header-title {
    position: relative;
    z-index: 2;
    color: #c24868;
}

.section__body {

}
