.main {
    background: #f8f8f2;
}

.main__content {
    max-width: 1320px;
    margin: auto;
}

.section {
    max-width: 670px;
    margin: auto;
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 80px;
}

.section__header {
    position: relative;
}

.section__header-badge {
    position: absolute;
    top: -55px;
    left: -30px;
    background: #9ecfc5 0% 0% no-repeat padding-box;
    transform: rotate(-3deg);
    padding: 9px 15px;
    color: #f8f8f2;
    text-shadow: 2px 2px 0px #222222;
}

.section__header-title {
    position: relative;
    z-index: 2;
    color: #c24868;
    font-size: 49px;
    line-height: 16px;
}

.section__body {
    font-size: 20px;
    line-height: 32px;
}

.body {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.body__left {
    flex-basis: 995px;
}

.body__right {
    flex-grow: 0;
    flex-basis: 265px;
}
