.comic {

}

.comic {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    max-width: 183px;
}

.comic .thumbnail-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic .comic-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
