.grid {
    margin: 40px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(183px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 183px); */
    row-gap: 60px;
    column-gap: 20px;
    width: 100%;
}
